*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: "Segoe UI", Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #ebc312; }

blockquote {
  font-style: italic; }
  @media (max-width: 26.25em) {
    blockquote {
      margin-left: 10px; } }

.masthead {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
  padding: 10px;
  background: #1f1f1f; }
  @media (max-width: 43.75em) {
    .masthead {
      display: block;
      text-align: center; } }

.logo {
  padding: 0px 0 0px 35px;
  color: white;
  line-height: 1.5;
  font-size: 1.4em; }
  @media (max-width: 43.75em) {
    .logo {
      padding: 10px 0;
      font-size: 1.5em; } }
  @media (max-width: 26.25em) {
    .logo {
      font-size: 1.1em; } }

.logo img {
  position: inherit;
  max-width: 120px;
  max-height: 120px;
  width: auto;
  height: auto; }

.material-icons {
  font-size: 36px; }

.btn-cart {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 25%;
  margin-right: 50%;
  width: 50%;
  display: flex;
  padding: 1px 36px 1px 36px; }

.nav-container span#name-menu, .nav-container a {
  border: white 1px solid;
  border-radius: 6px;
  /*background: rgba(black, .2);
  border-radius: 3px;*/ }

.search {
  display: inline-flex;
  margin-left: 60%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 30px; }
  .search #txt-search {
    outline: none;
    width: 230px;
    padding: 10px; }
  .search ::placeholder {
    font-style: italic; }
  .search #btn-search {
    padding-left: 4px;
    height: 28px;
    cursor: pointer; }
  @media (max-width: 26.25em) {
    .search button {
      width: 90%;
      margin-top: 10px; } }

.field,
.comments {
  width: 100%;
  margin-bottom: 10px; }
  @media (max-width: 26.25em) {
    .field,
    .comments {
      width: 100%; } }

input, textarea {
  font-family: "Segoe UI", Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 1px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5); }

button {
  border: none;
  padding: 7px 10px;
  background: #333;
  border-radius: 3px;
  color: white;
  font-family: "Segoe UI", Arial, "Helvetica Neue", Helvetica, sans-serif;
  cursor: pointer; }

.main-nav {
  max-width: 1500px;
  margin: auto;
  padding: 10px 5px;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  background: #474104; }
  @media (max-width: 26.25em) {
    .main-nav {
      padding: 5px 0; } }

img#logo:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.nav-container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  @media (max-width: 26.25em) {
    .nav-container {
      flex-wrap: wrap; } }
  .nav-container li {
    display: inline;
    width: 0 5px;
    margin: 0px 45px 0px 0px;
    text-align: center; }
    @media (max-width: 26.25em) {
      .nav-container li {
        display: flex;
        justify-content: center;
        flex-basis: 45%;
        margin: 5px; } }
  .nav-container span#name-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    border-bottom: rgba(255, 255, 255, 0.6) 1px solid; }
  .nav-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    border-bottom: rgba(255, 255, 255, 0.6) 1px solid; }
  .nav-container span#name-menu:hover {
    background-color: white;
    color: #474104;
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.content-menu {
  padding: 10px;
  width: 100%;
  height: 100%;
  border: solid 1px;
  overflow: hidden; }

.style-nav {
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;*/
  overflow: hidden;
  max-width: 13em;
  width: auto;
  height: auto;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px;
  text-align: center;
  padding: 10px;
  background: #5f0f23; }
  .style-nav p {
    color: white; }

.main-container {
  max-width: 1500px;
  margin: auto;
  padding: 40px 40px 20px;
  background: #2a2a2a;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: #c03 30px solid; }
  @media (max-width: 26.25em) {
    .main-container {
      padding: 20px;
      line-height: 1.5; } }
  .main-container > h1 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: #c03 3px solid; }
    @media (max-width: 26.25em) {
      .main-container > h1 {
        font-size: 1.6em; } }

.main-content {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr; }
  .main-content h1 {
    text-align: center;
    margin-top: 8px;
    border-top: #c03 2px solid;
    border-left: #c03 2px solid;
    border-right: #c03 2px solid;
    padding-top: 5px; }
  .main-content img {
    cursor: pointer;
    max-width: 100px;
    display: flex;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px; }
  .main-content img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .main-content .container-flex-popup {
    background: #c03;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 15px 80px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 2fr 2fr 2fr 2fr; }
  .main-content .container-flex-pophot {
    background: #c03;
    border-radius: 3px;
    padding: 15px 80px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 2fr 2fr 2fr 2fr; }
  .main-content .container-flex-popoffer {
    background: #c03;
    border-radius: 3px;
    padding: 15px 80px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 2fr 2fr 2fr 2fr; }
  .main-content div {
    margin: 10px; }
  .main-content container-flex-popup > div {
    flex: 1 1 150px; }
  .main-content container-flex-pophot > div {
    flex: 1 1 150px; }
  .main-content container-flex-popoffer > div {
    flex: 1 1 150px; }

.main-footer {
  background: #2a2a2a;
  color: whitesmoke;
  padding: 15px;
  border-top: #c03 2px dotted;
  font-size: .7em; }
  .main-footer li {
    display: flex;
    width: 0 7px;
    border-radius: 6px;
    align-items: center; }
    .main-footer li p {
      padding-left: 8px;
      padding-top: 14px; }
  .main-footer p {
    margin-top: 0;
    font-size: 1.2em; }

li#footer-icon:hover {
  background-color: whitesmoke; }
  li#footer-icon:hover p {
    color: #c03; }
  li#footer-icon:hover span.material-icons {
    color: #c03; }

/*# sourceMappingURL=style.css.map */
